@media  (max-width:391px) {
    
    body {
        width: 100dvw;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    header {

        margin-top: 200px;
    }
    
.img-header {
    width: 100dvw;
    height: 100px;
    margin: 0px 0px;
}

.foto-header {
    margin-left: 0px;
    width: 60px;
}

.marca img{
    width: 500px;
    margin-left: 0px;
}

/*---------------------*/

header h1 {
    font-size: 1.5em;
}

.link-header {
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    position: relative;
    margin-top: 200px;
    left: -40px;
}

.link-header .elemento4 {
    width: 20%;
    margin: 0px 0px;
}

.link-header .elemento2 {
    width: 20%;
    margin: 0px 0px;
}

.link-header .elemento3 {
    width: 20%;
    margin: 0px 0px;
}

.link-header a {
    margin: 0px;
}

/*---------------------------------*/
#apresentacao {
    width: 100dvw;
    position: relative;
    left: -20px;
}

#apresentacao img {
    width: 150px;
    margin-right: 10px;
    position: relative;
    top: -280px;
    right: -250px;
}

#apresentacao h1 {
    position: relative;
    left: 20px;
    top: 100px;
    width: 100vw;
    font-size: 2em;
}

#apresentacao h3 {
    width: 70%;
    position: relative;
    left: 20px;
    top: 90px;
}

#apresentacao h4 {
    width: 69%;
    position: relative;
    left: 20px;
    top: 100px;
}

#apresentacao .div-dentro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    top: 100px;
    left: 20px;
}

.div-dentro span {
    font-size: 1em;
}

/*--------------------------*/
#skill {
    width: 100vw;
    margin-top: 100px;
}

#skill-pai {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-left: 0px;
}

#skill-pai div {
    width: 50%;
}

#skill h1 {
    font-size: 1.8em;
    margin-left: 0px;
}

#skill img {
    width: 70px;
}

#skill-pai h3 {
    font-size: 1em;
} 

#skill-pai p {
    font-size: .5em;
}

/*----------------*/
#projetos {
    margin-bottom: 0px;
}

#projetos h1 {
    width: 90%;
    font-size: 2em;
}

#projetos p {
    width: 90%;
    font-size: 1.em;
}

iframe {
    width: 100%;  /* Faz o iframe ocupar toda a largura disponível */
    height: 600px; /* Ajusta a altura automaticamente */
    max-width: 100%; /* Garante que o iframe não ultrapasse a largura da tela */
    border: none;  /* Remove bordas */
}

/*-------------------------*/

#contato {
    margin-top: 0px;
}

.contato p {
    font-size: 1.5em;
}

.ultimo-p {
    position: relative;
    padding-bottom: 2px;
}

footer {
    position: relative;
    bottom: -90px;
    left: -10px;
}



}