:root {
    ---Dourado: #D4AF37;
    ---Caramelo: #C19A6B;
    ---Marrom-Escuro: #5C4033;
    ---Bege-Claro: #F5DEB3;
    ---Preto: #000000;
}

@media screen and (min-width: 392px) and (max-width: 720px) {
   
    ::-webkit-scrollbar{
        display: none;
        overflow-x: hidden;
    }

body {
    width: 352px;
    background-color: black;
    color: #F5DEB3;
    margin-left: 10px;
    overflow-x: hidden;
}

/*--------------CABECARIO DO HEADER---------------------*/

.img-header {
    display: flex;
    align-items: center;
    height: 200px;
    margin: 0px;
}

.foto-header {
    width: 100px;
    border-radius: 50%;
    margin: 0px;
    overflow: hidden;
}

.marca img {
   position: relative;
   top: 18px;
   width: 250px;
   margin: 0px;
   margin-left: 20px;
}

header img {
    margin-left: 2em;
}

/*-----------------------TEXTO DO READER --------------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
    margin-left: 2%;
    margin-bottom: 0px;
}

header h1 {
    width: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    margin-left: 2%;
    line-height: 1.8;
}

/*---------------- LINKS DO HEADER ----------------------------------*/

.link-header {
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
    height: 200px;
    margin-top: 0px;
}

.link-header a {
    text-decoration: none;
    font-family: sans-serif;
    color: #D4AF37;
    font-size: 1.2em;
    margin: 0px;
}

header .elemento2, .elemento3, .elemento4 {
    position: relative;
    top: 10px;
    margin: 0px 15px;
}

.link-header span {
    margin-left: 5px;
    color: #C19A6B;
    position: relative;
}

/*--------------------- CONTEUDO PASSANDO INFINITO---------------*/

.carrosel-frases {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 90px;
    background-color: #5C4033;
    overflow: hidden;
}

.carrosel-animado {
    display: flex;
    width: calc(100%);
    animation: passar 10s linear infinite;
}

.carrosel-animado p {
    font-size: 1.5em;
    color: #F5DEB3;
    white-space: nowrap;
    margin: 30px;
}

@keyframes passar {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-40%);
    }
}

/*----------------------APRESENTAÇÃO-----------------------------*/


#apresentacao {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

#apresentacao img {
    width: 150px;
    border-radius: 50%;
}

#apresentacao h1 {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.884);
    width: 90%;
}

#apresentacao h3 {
    text-align: center;
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5c4033bd;
    margin-bottom: 0px;
    width: 90%;
}

#apresentacao h4 {
    width: 99%;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: start;
    margin-top: 15px;
    color: #f5deb3a1;
    width: 90%;
}

/*-----------------------------*/


.div-dentro {
    display: flex;
    margin-left: 30px;
}

.div-dentro div {
    margin-right: 20px;
    color: #5C4033;
}

.div-dentro span {
    color: white;
    font-size: 1.5em;
}

.div-dentro a {
    color: #C19A6B;
    text-decoration: none;
    
}

/*----------------------------SKILL--------------------*/

#skill {
    width: 100dvw;
    height: 1000px;
    margin-left: 0px;
    margin-bottom: 100px;
    margin-top: 150px;
}

#skill h1 {
    font-size: 2em;
    margin-left: 2%;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#skill-pai {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 99%;
    margin-top: 0px;

}

#skill-pai div {
    margin-top: 50px;
}


#skill h3 {
    font-size: 1.3em;
    margin-top: 0px;
}

#skill p {
    font-size: 1em;
    width: 100px
}

#skill img {
    width: 90px;
}

#skill-pai div {
    width: 40%;
}

#skill-pai .elemento {
    position: relative;
    top: -30px;
}


/*---------------------------PROJETOS-----------------------------*/

#projetos {
    width: 100dvw;
    height: 100dvh;
    margin-top: 200px;
}

.descricao-projeto {
    width: 100%;
    text-align: center;
    position: static;
}

#projetos h1 {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5C4033;
    margin-bottom: 0px;
}

#projetos .descricao-projeto p {
    color: #D4AF37;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.projeto-descricao a {
    font-size: 1em;
    animation: pulsar 3s  infinite;
}

.projeto-descricao div p {
    font-size: 1em;
}





@keyframes pulsar {
    0% {
      transform: scale(1); 
      opacity: 1; 
    }
    50% {
      transform: scale(1.1); 
      opacity: 0.7; 
    }
    100% {
      transform: scale(1); 
      opacity: 1; 
    }
  }

/*               ----------------       */

.projetos-filho {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 40px;
    width: 100%;
    margin-top: 0px;
    transform:translateY(-50px);
    transition: all 0s ease-out;
}

.projetos-filho.visible {
    opacity: 1;
    transform: translateY(0);
}

.projetos-filho h6 {
    color: #C19A6B;
    margin-bottom: 0px;
    font-size: 2em;
}

.projetos-filho p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #F5DEB3;
}

.projetos-filho a {
    font-size: 1.9em;
    text-decoration: none;
    color: #D4AF37;
}

.projetos-filho a img {
    width: 350px;
}

#projetos .celular {
    width: 150px;
    height: 100px;
    overflow: hidden;
    margin-top: 50px;
    background-color: #F5DEB3;
}


.celular a img {
    width: 80%;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.projeto-descricao {
    display: flex;
    flex-flow: column;
    transition: opacity 0.5s ease-in-out;
}


.projeto1 {
    position: sticky;
}


iframe {
    width: 100%;
    height: 80%;
    margin-bottom: 300px;
    background-color: wheat;
}



/*--------------------------CONTATOS -----------------------*/

#contato {
    width: 100dvw;
    height: 100dvh;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.contato {
    width: 40%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5C4033;
    border-radius: 15px;
    font-family: sans-serif;
}

.contato a {
    width: 100%;
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #D4AF37;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contato img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}

.contato p {
    font-size: 1.5em;
    
}


/*------------------------------- TECNOLOGIAS UTILIZADAS------------------------*/

#tecnologias {
    width: 100dvw;
    height: 100dvh;
    text-align: center;
}

.pai {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.pai h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

.pai div {
    width: 40%;
}


/*-------------------------------FOOTER-----------------------*/

footer {
    width: 100dvw;
    text-align: center;
    margin-top: 200px;
}

footer a {
    text-decoration: none;
    color: #D4AF37;
}

.ultimo-p {
    left: 0;
    bottom: 0;
    width: 100dvw;
    background-color: #5C4033;
    font-size: 1em;
    animation: pulsar 2s ease-out infinite;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -10px;
    margin-bottom: -10px;
}
}
