@media screen and (min-width: 1366px) and (min-height: 768px) {
    #projetos {
        margin-top: 200px;
    }

    iframe {
        margin-top: 0px;
    }

    #skill {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1440px) and (min-height: 900px) {
    #projetos {
        margin-top: 100px;
    }

    iframe {
        margin-top: 100px;
    }

    #skill {
        margin-bottom: 100px;
    }
}